 .contenedor {
    background: #000;
 }

 .bodyData{
     background: #E9CE12;
     color: #FEFEFF;
<<<<<<< HEAD
     padding-top: 90px
=======
     padding-top: 180px;
 }

 .bodyDataDev{
     background: #000;
>>>>>>> 5baa30eb67f67882c48ecc99bf71dc87446526f4
 }

.text-data{ 
    font-size: 2em;
}

.text-driver{
    color: #FEE510;
}

.imgRedonda2 {
    width:300px;
    border-radius:160px;
<<<<<<< HEAD
    border:10px solid #E9CE12;
}

.head{
=======
    border:3px solid #E9CE12;
}

.head{
    padding-top: 70px;
>>>>>>> 5baa30eb67f67882c48ecc99bf71dc87446526f4
    position: fixed;
    width:100%;
    z-index: 100;
    background: #000;
    
}

 .bodyDevice{
    background: #fff
 }

 .bg-negro{
     background: #000;
 }



 .bg-retro{
     background: #a12025;
 }

 .bg-retroyellow{
     background: #f9d31e;
 }

 .font{
     font-size: 1.5em;
 }
<<<<<<< HEAD
=======

 .modal-device{
    position: absolute;
    top: 20%;
    left: 25%;
    right: 25%;
    bottom: 5%;
    
    background-color: #1a191bff;
    border-radius: 40px;

}
>>>>>>> 5baa30eb67f67882c48ecc99bf71dc87446526f4
