@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed');

@keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px rgba(223, 1, 1, 1);
  }
  100% {
    box-shadow: 0 0 0 10px rgb(32, 11, 11);
  }
}

@keyframes shadow-pulse2
{
  0% {
    box-shadow: 0 0 0 0px rgb(255, 251, 29);
  }
  100% {
    box-shadow: 0 0 0 10px rgb(32, 11, 11);
  }
}

@keyframes shadow-pulse-big
{
  0% {
    box-shadow: 0 0 0 0px rgba(223, 1, 1, 1);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(223, 1, 1, 1);
  }
}

.reportIMT{
    color: #fff;
    background: #DF0101;
    border-radius: 3px;
    animation: shadow-pulse 1s infinite;
  }

.reportUser{
color: #fff;
background: rgb(255, 251, 29);
border-radius: 3px;
animation: shadow-pulse2 1s infinite;
}

code .contenedor {
    background: #000;
 }

 .bodyData{
     background: #E9CE12;
     color: #FEFEFF;
     padding-top: 180px;
 }

 .bodyDataDev{
     background: #000;
     height: 100%;
 }

.text-data{ 
    font-size: 2em;
}

.text-driver{
    color: #FEE510;
}

.head{
    position: fixed;
    width:100%;
    z-index: 100;
    background: #000;
    padding-top: 70px;
}

.centered-and-cropped { object-fit: cover }

.imgRedonda2 {
    width:300px;
    height: 300px;
    border-radius:160px;
    
    background: #000;
    
}
 .bodyDevice{
    background: #fff
 }

 .bg-negro{
     background: #000;
 }



 .bg-retro{
     background: #a12025;
 }

 .bg-retroyellow{
     background: #f9d31e;
 }

 .font{
     font-size: 1.5em;
 }

 .modal-device{
    position: absolute;
    top: 20%;
    left: 25%;
    right: 25%;
    bottom: 5%;
    
    background-color: #1a191bff;
    border-radius: 40px;

}

#contenido {
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

