.modalColaborador {
    position: absolute;
    top: 15%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    
    background-color: #cca;
    border-radius: 50,50,50,50;
    overflow: scroll;
  }

  .img-longest {
    width:40px;
    border-radius:150px;
    border:1px solid #000;
}

.img-medium{
    width:70px;
    border-radius:150px;
    border:1px solid #000;
}