.modalColaborador {
    position: absolute;
    top: 15%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    
    background-color: #cca;
    border-radius: 10px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0), 0 17px 50px 0 rgba(0, 0, 0, 0.459);
    overflow: scroll;
  }

  .centered-and-cropped { object-fit: cover }

  .img-longest {
    width:40px;
    height: 40px;
    border-radius:50%;
    border:1px solid #000;
}

.img-medium{
    width:70px;
    height: 70px;
    border-radius:50%;
    border:1px solid #000;
}

#PunteroAqui:hover{ width:230px; height:40px; position:absolute;}
#PunteroAqui{
	width:16px; 
	height:16px; 
	overflow:hidden; 
	position:absolute; 

	}