.bodyFormMe{
    background: #ffffff;
    padding-top: 50px;
}

.imgRedonda {
    width:150px;
    border-radius:150px;
    border:2px solid #000;
}

hr {
    width: 100%;
}

.centered-and-cropped { object-fit: cover }

.modal-main-crop{
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 5%;
    
    background-color: #ffc;
    border-radius: 20px;
    overflow: scroll;
}