.color{
    color: #ffffff;
}

.bg-retro{
    background: #a12025
}

.link{
    color: #fff;
<<<<<<< HEAD
=======
}

.bodyDashboard{
    height: 100vh;
>>>>>>> 5baa30eb67f67882c48ecc99bf71dc87446526f4
}